.game-board {
    display: inline-block;
    align-items: center;
}

.game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    width: 95%;
    background-color: lightgrey;
    border-style: inset;
}