.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header, .minefield {
  width: 100%; 
  max-width: 154px; 
  border: 1px solid red;
  box-sizing: border-box; 
  background-color: #c0c0c0;
}

.header {
  display: flex;
  justify-content: center;
  border-top: 5px solid grey;
  border-left: 5px solid grey;
  border-bottom: 5px solid rgb(233, 233, 233);
  border-right: 5px solid rgb(233, 233, 233);

}