.status-img {
  width: 23px;  
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  border-bottom: 2px solid rgb(233, 233, 233);
  border-right: 2px solid rgb(233, 233, 233);
  margin: 5px;
}
